
<p>Fecha sin formato <span style="color: 'white'; background-color: 'green'; padding: '0 5px';">{{ fecha1 }}</span></p>
<p>Fecha Formatos short <span style="color: 'white'; background-color: 'green'; padding: '0 5px';">{{ fecha1 | date: 'short' }}</span>></p>
<p>Fecha Formatos medium <span style="color: 'white'; background-color: 'green'; padding: '0 5px';">{{ fecha1 | date: 'medium' }}</span>></p>
<p>Fecha Formatos long <span style="color: 'white'; background-color: 'green'; padding: '0 5px';">{{ fecha1 | date: 'long' }}</span>></p>
<p>Fecha Formatos shortDate <span style="color: 'white'; background-color: 'green'; padding: '0 5px';">{{ fecha1 | date: 'shortDate' }}</span>></p>
<p>Fecha Formatos shortTime <span style="color: 'white'; background-color: 'green'; padding: '0 5px';">{{ fecha1 | date: 'shortTime' }}</span>></p>
<p>Fecha Formatos shortTime <span style="color: 'white'; background-color: 'green'; padding: '0 5px';">{{ fecha1 | date: 'yyyy/MM/dd' }}</span>></p>
<p>Fecha (DataPiepe con '{{ formatoFecha }}') : {{ fecha1 | date:formatoFecha | uppercase}}</p>
<button (click)="cambiarFormatoFecha()">Cambiar Formato</button>
